<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCla2jCupdbrbSDHbXrPLuBaXsfIQ8zPFg</string>
	<key>GCM_SENDER_ID</key>
	<string>956782711879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.providerExample</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-bdc67</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-bdc67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:956782711879:ios:e80abc0b9399779a1c4d62</string>
</dict>
</plist>